.contact {
  color: rgba(0,0,0,0.7);
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  border: solid rgb(245,245,245) 1px;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
  padding: 10px 10px 10px 0px;
  position: relative;
  .row {
    padding-left: 20px;
  }
  .ribbon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.moral {
  .fa-university {
    color: goldenrod;
  }
  .ribbon {
    background-color: gold;
  }
}

.physical {
  .fa-user {
    color: navy;
  }
  .ribbon {
    background-color: navy;
  }
}

.selected-grey {
  background-color: rgba(50,50,150,0.1);
}

.male {
  color: skyblue;
}

.female {
  color: pink;
}
