#element-1 {
  background-color: lavender;
}
#element-2 {
  background-color: bisque;
}
#element-3 {
  background-color: lightgrey;
}
#element-1,
#element-2,
#element-3 {
  padding-bottom: 57px;
  color: rgba(0,0,0,0.5);
  h1 {
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    padding-top: 10px;
  }
}
.span-up {
  padding-top: 60px;
}
