<template-top></template-top>
<div class="pad-nav height-100 d-flex atop">
  <section class="container d-flex align-items-center w-100">
    <div class="halo"></div>
    <div class="row justify-content-center w-100">
      <div class="col-md-6">
        <div class="above">
          <h1 class="text-center"><i class="fa fa-gavel"></i> {{ 'title' | translate }}</h1>
          <p class="text-center">
            Automatisez vos contrats
          </p>
          <p class="text-center">
            <a href="#element-1" class="btn btn-success">Automatique</a>
            <a href="#element-2" class="btn btn-success">Amélioration</a>
            <a href="#element-3" class="btn btn-success">Sécurisé</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
<section id="element-1">
  <div class="container pad-nav">
    <h1>Automatisez vos contrats</h1>
    <p>
      Automatisez tous vos documents légaux.
    </p>
    <div class="row span-up">
      <div class="col-md-4">
        <p class="text-center">
          <i class="fa fa-file-text fa-4x"></i>
        </p>
        <p class="text-center">
          Crééz des documents en ligne
        </p>
      </div>
      <div class="col-md-4">
        <p class="text-center">
          <i class="fa fa-file-word-o fa-4x"></i>
        </p>
        <p class="text-center">
          On les transforme
        </p>
      </div>
      <div class="col-md-4">
        <p class="text-center">
          <i class="fa fa-file-pdf-o fa-4x"></i>
        </p>
        <p class="text-center">
          On vous les archive en .pdf
        </p>
      </div>
    </div>
    <div class="row e">
      <div class="col-md-6">
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col-md-6">
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <hr />
    <div class="row e">
      <div class="col-md-12">
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="text-center span-up">
      <p class="alert alert-danger">
        Page de présentation. Aucun contenu n'est vraiment défini.
      </p>
    </div>
  </div>
</section>

<section id="element-2">
  <div class="container pad-nav">
    <h1>Améliorer vos relations clients</h1>
    <p>
      Établissez une relation de confiance avec vos clients.
    </p>
    <div class="row span-up">
      <div class="col-md-4">
        <p class="text-center">
          <i class="fa fa-user fa-4x"></i>
        </p>
        <p class="text-center">
          D'une relation simple
        </p>
      </div>
      <div class="col-md-4">
        <p class="text-center">
          <i class="fa fa-user-plus fa-4x"></i>
        </p>
        <p class="text-center">
          en ajoutant de nouveaux clients
        </p>
      </div>
      <div class="col-md-4">
        <p class="text-center">
          <i class="fa fa-users fa-4x"></i>
        </p>
        <p class="text-center">
          Communiquez avec votre base utilisateur
        </p>
      </div>
    </div>
    <div class="row e">
      <div class="col-md-6">
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col-md-6">
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <hr />
    <div class="row e">
      <div class="col-md-12">
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="text-center span-up">
      <p class="alert alert-danger">
        Page de présentation. Aucun contenu n'est vraiment défini.
      </p>
    </div>
  </div>
</section>

<section id="pricing">
  <div class="container pad-nav">
    <h1>Tarifs</h1>
    <p>
      Nous couvrons vos besoins. Découvrez le contrat qui vous conviens le mieux.
    </p>
    <div class="row table">
      <div class="col-sm-4">
        <div class="bordered">
          <h4>Simple</h4>
          <p class="price">CHF 19,- par mois</p>
          <hr class="hr" />
          <p class="sub">
            <span class="limit">Pour tous</span>
          </p>
          <ul>
            <li>
              jusqu'à 10 contrats
            </li>
            <li>
              10 contacts
            </li>
            <li>
              Accès <b>illimité</b>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bordered blue">
          <h4>Pro</h4>
          <p class="price">CHF 59,- par mois</p>
          <hr class="hr" />
          <p class="sub">
            <span class="limit">Professionnel</span>
          </p>
          <ul>
            <li>
              jusqu'à 200 contrats
            </li>
            <li>
              50 contacts
            </li>
            <li>
              Accès <b>illimité</b>
            </li>
            <li>
              Assistance technique 24/7*
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bordered gold">
          <h4>All Star</h4>
          <p class="price">CHF 149,- par mois</p>
          <hr class="hr" />
          <p class="sub">
            <span class="limit">Gérer sans limite</span>
          </p>
          <ul>
            <li>
              contrats <b>illimités</b>
            </li>
            <li>
              contacts <b>illimités</b>
            </li>
            <li>
              Accès <b>illimité</b>
            </li>
            <li>
              Assistance technique 24/7*
            </li>
            <li>
              Conseils d'avocats
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="text-center span-up">
      Vous avez besoin d'accès personnalisés ou d'un nombre de membres spécifiques?<br />
      Nous avons toujours une solution pour vous.
    </p>
    <p class="text-center">
      <a class="btn btn-lg btn-secondary" href="/register" role="button">Contactez nous</a>
    </p>
    <p class="text-center span-up">
      Tarifs applicables pour la Suisse romande. Pour toutes autres régions, veuillez contacter notre équipe pour de plus amples informations.
    </p>
    <p class="text-center span-up">
      * L'assistance technique couvre toute utilisation technique sur le site Legal. Elle ne couvre en aucun cas les actions juridiques liées aux contrats générés.
    </p>
    <div class="text-center span-up">
      <p class="alert alert-danger">
        Page de présentation. Aucun contenu n'est vraiment défini.
      </p>
    </div>
  </div>
</section>

<section id="element-3">
  <div class="container pad-nav">
    <h1>Relax! C'est sécurisé</h1>
    <p>
      Vos informations sont encryptés et hébergé sur un cloud suisse avec <a href="https://www.dfi.ch" target="_blank">DFI</a>.
    </p>
    <p class="text-center white">
      <a href="https://www.dfi.ch" target="_blank" title="DFI - Data First">
        <img src="assets/img/dfi_30.png" />
      </a>
    </p>
    <p class="text-center span-up">
      <a class="btn btn-lg btn-success" href="/register" role="button">Commencez dès aujourd'hui</a>
    </p>
    <div class="row e">
      <div class="col-md-6">
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col-md-6">
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <hr />
    <div class="row e">
      <div class="col-md-12">
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="text-center span-up">
      <p class="alert alert-danger">
        Page de présentation. Aucun contenu n'est vraiment défini.
      </p>
    </div>
  </div>
</section>

<template-copyright-big></template-copyright-big>
