<template-top></template-top>
<section id="element-1" class="element1">
  <div class="container">
    <h1>Automatisez vos contrats</h1>
  </div>
</section>

<section id="element-2" class="element2">
  <div class="container">
    <h1>Améliorer vos relations clients</h1>
  </div>
</section>

<section id="element-3" class="element3">
  <div class="container">
    <h1>Relax! C'est sécurisé</h1>
    <p>
      Vos informations sont encryptés et hébergé sur un cloud suisse avec DFI.
    </p>
    <p class="text-center">
      <a class="btn btn-lg btn-success" href="#" role="button">Commencez dès aujourd'hui</a>
    </p>
  </div>
</section>
