.sidebar {
  position: fixed;
  top: 57px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #222;
  .nav {
    margin-bottom: 20px;
  }
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.bg-faded {
  background-color: rgba(0,0,0,0.7);
}
