<nav class="bg-faded sidebar col-sm-3 col-md-2">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/overview" routerLinkActive="active">Aperçu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/reports" routerLinkActive="active">Rapports</a>
    </li>
  </ul>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/overview">Contrats</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/overview">Plus</a>
    </li>
  </ul>
</nav>
