<h1>Administration</h1>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>
        Nom
      </th>
      <th>
        Email
      </th>
      <th>
        Type
      </th>
      <th>
        Admin
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>
        {{user.name}}
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        -
      </td>
      <td>
        <i class="fa fa-check text-success" aria-hidden="true" *ngIf="user.isAdmin"></i>
        <i class="fa fa-minus" aria-hidden="true" *ngIf="!user.isAdmin"></i>
      </td>
    </tr>
  </tbody>
</table>
