section {
  height: 100%;
  .row {
    background-color: white;
    padding: 20px 0px;
    border-radius: 5px;
    border: solid rgb(245,245,245) 1px;
    box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
  }
  .input-group {
    margin-bottom: 5px;
  }
}
