<nav ngbDropdown class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
  <button ngbDropdownToggle class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/" *ngIf="!isLogged"><i class="fa fa-gavel" aria-hidden="true"></i> {{title}}</a>
  <a class="navbar-brand" routerLink="/dashboard" *ngIf="isLogged"><i class="fa fa-gavel" aria-hidden="true"></i> {{title}}</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav" *ngIf="!isLogged">
      <li class="nav-item">
        <a class="nav-link" href="#element-1">Automatique</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#element-2">Amélioration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pricing">Tarifs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#element-3">Sécurité</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/login">Se connecter</a>
      </li>
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/register">S'enregistrer</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isLogged">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>{{user.name}}</a>
          <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
            <a class="dropdown-item" routerLink="/dashboard/profile">Profile</a>
            <a class="dropdown-item" routerLink="/dashboard/settings">Paramètres</a>
            <a class="dropdown-item" routerLink="/" (click)="logout()">Se déconnecter</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
