<h1 *ngIf="contract">{{contract.getTitle()}}</h1>

<h2>Emprunteur</h2>
<template-contact [contact]="contract.getBorrower()" *ngIf="contract"></template-contact>

<h2>Prêteur</h2>
<template-contact [contact]="contract.getLender()" *ngIf="contract"></template-contact>

<h2>Prêt</h2>

<div class="card" *ngIf="contract">
  <p *ngIf="contract.loan.hasGoal">
    <span>Objectif du prêt:</span> {{contract.loan.goal}}
  </p>
  <p>
    <span>Montant du prêt:</span> {{contract.loan.amount}} {{contract.loan.getCurrency()}}
    à {{contract.loan.interest}}%
  </p>
  <p>
    <span>Remboursement le:</span>
  </p>
</div>

<div class="top-bar" *ngIf="contract">
  <a class="btn btn-warning" [routerLink]="['/dashboard/contracts/edit', contract.getId()]">
    <i class="fa fa-pencil" aria-hidden="true"></i>
    Modifier
  </a>
  <a class="btn btn-danger" routerLink="/">
    <i class="fa fa-times" aria-hidden="true"></i>
    Effacer
  </a>
</div>
