<h1 *ngIf="!edit">Ajouter un nouveau contrat</h1>
<h1 *ngIf="edit">Édition du contrat</h1>

<div class="alert alert-{{messageType}}" *ngIf="message">
  {{message}}
</div>

<form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <label for="title">Nom du dossier</label>
      <input type="text" class="form-control" id="title"
        placeholder="Nom du dossier"
        name="title"
        formControlName="title">
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <div class="card">
        <h2 class="text-center">Prêteur</h2>
        <template-contact [(contact)]="contract.lender" *ngIf="contract.lender"></template-contact>
        <p *ngIf="!contract.lender" class="text-center">
          <button class="btn btn-primary" type="button" (click)="open(content, 'lender')">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Ajouter
          </button>
        </p>
        <p *ngIf="contract.lender" class="text-center">
          <button class="btn btn-primary" type="button" (click)="open(content, 'lender')">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Changer
          </button>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h2 class="text-center">Emprunteur</h2>
        <template-contact [(contact)]="contract.borrower" *ngIf="contract.borrower"></template-contact>
        <p *ngIf="!contract.borrower" class="text-center">
          <button class="btn btn-primary" type="button" (click)="open(content, 'borrower')">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Ajouter
          </button>
        </p>
        <p *ngIf="contract.borrower" class="text-center">
          <button class="btn btn-primary" type="button" (click)="open(content, 'borrower')">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Changer
          </button>
        </p>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card" formGroupName="loan">
        <h2>Prêt</h2>
        <div class="form-group row">
          <div class="col-md-12">
            <label for="amount">But du prêt</label>
            <input type="text" class="form-control" id="goal"
              placeholder="But du prêt (optionnel)"
              name="goal"
              formControlName="goal">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4">
            <label for="currency">Monnaie</label>
            <select class="form-control" id="currency"
              name="currency"
              formControlName="currency">
              <option *ngFor="let currency of currencies" [value]="currency.code">{{currency.plural}} ({{currency.code}})</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="interest">Intérêt</label>
            <div class="input-group">
              <input type="number" class="form-control" id="interest"
                placeholder="Intérêt"
                name="interest"
                formControlName="interest">
              <div class="input-group-addon">%</div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="amount">Montant</label>
            <input type="number" class="form-control" id="amount"
              placeholder="calculé automatiquement"
              name="amount"
              formControlName="amount">
          </div>
        </div>
        <div formArrayName="payoff">
          <div *ngFor="let child of editForm.get('loan').get('payoff')['controls']; let i = index">
            <div formGroupName="{{i}}" class="from-group row">
              <div class="col-md-6">
                <label for="datePayoff-{{i}}">Date de remboursement</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd (en cours de traduction)"
                    id="datePayoff-{{i}}" formControlName="date" ngbDatepicker #d="ngbDatepicker">
                  <button class="input-group-addon" (click)="d.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-6">
                <label for="amountPayoff-{{i}}">Montant à rembourser</label>
                <input type="number" class="form-control"
                  id="amountPayoff-{{i}}" formControlName="amount">
              </div>
            </div>
          </div>
          <button class="btn btn-link" type="button" (click)="addDue()">Ajouter une échéance</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary" *ngIf="!edit" [disabled]="!editForm.valid">Ajouter</button>
      <button type="submit" class="btn btn-primary" *ngIf="edit" [disabled]="!editForm.valid">Mettre à jour</button>
    </div>
  </div>
</form>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Ajouter un prêteur</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let contact of contacts">
      <template-contact [contact]="contact" (click)="c(contact)"></template-contact>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
