.card {
  .top {
    text-align: center;
    font-size: 1.8em;
  }
  .title {
    font-size: 1.5em;
    font-family: 'Cinzel', serif;
    text-align: center;
    color: rgba(0,0,0,0.7);
  }
  .fa,
  .fa-gavel {
    color: rgba(0,0,0,0.7);
  }
  .badge {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.1em;
  }
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}
.all,
.other {
  .card:hover {
    background-color: rgb(250,250,250);
    border-color: gold;
    .fa,
    .fa-gavel {
      color: sienna;
    }
  }
}
