<div class="white-background">
  <div class="row">
    <div class="col-sm-4">
      <p>
        1
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        2
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        3
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>
        4
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        5
      </p>
    </div>
    <div class="col-sm-4">
      <p>
        6
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <button class="btn btn-primary" (click)="onSelect(0)">
        Contrat de prêt
      </button>
    </div>
  </div>
</div>
