.led-box {
  height: 24px;
  width: 25%;
  margin: 0;
  .led-red {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    color: #F00;
  }
  .led-green {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    color: #ABFF00;
  }
}
